<div class="ekart--product--container">
  <app-search (searchTextChanged)="setSearchText($event)"></app-search>
  <product-list #productListComponenti [searchText]="searchText"></product-list>
  <product-detail *ngIf="productListComponenti.selectedProduct" [productListComp]="productListComponent"></product-detail>

  <div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
      <h1>Latest Arrival in Popular Brands</h1>
    </div>
    <featured-brands></featured-brands>
    <featured-brands></featured-brands>
    <featured-brands></featured-brands>
  </div>
</div>